version: "3.9"
services:
  api:
    build: api/
    environment: 
        - MONGO_URL=mongodb://mongo:27017/gateways
        - PORT=5000
    ports:
      - "5000:5000"
    depends_on:
      - mongo
  mongo:
    image: mongo
    ports:
      - "27017:27017"